/*
==============IMPORTS==============
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
/*
==============VARIABLES==============
*/
/*COLORS*/
/*BLANCO*/
/*AMARILLO*/
/*VERDE*/
/*AZUL*/
/*NEGRO*/
/*GRIS*/
/*FONTS*/
/*
==============MIXINS==============
*/
/*
  <----------TRANSICIONES---------->
  */
/*
  <----------ESCALA CRECIMIENTO ITEMS---------->
  */
/*
==============GENERAL CLASS==============
*/
.welcome_background {
  background-image: url("../img/Sky.jpg");
  background-size: cover; }

/*
==============HEADER==============
*/
header {
  border-bottom: 1px solid #dfdfdf;
  /*
  <----------ACCESIBILIDAD-REDES SOCIALES-PUBLICAR---------->
  */
  /*
  <----------LOGO-SEARCH BAR-LOGIN---------->
  */
  /*
  <----------BARRA DE NAVEGACION---------->
  */ }
  header .top_header {
    background: #1F1F1F;
    height: 12vh;
    min-height: 46px; }
    header .top_header .top_container {
      padding: 7px 0;
      width: 90%;
      margin: 0 auto; }
      header .top_header .top_container .top_access {
        padding-top: 1px; }
        header .top_header .top_container .top_access ul {
          font-size: 1.5em;
          margin: 0;
          padding-left: 0; }
          header .top_header .top_container .top_access ul li {
            width: 2em;
            border: 1px solid transparent;
            background: #F7BF19;
            border-radius: 5px;
            display: inline-block;
            cursor: pointer; }
            header .top_header .top_container .top_access ul li a {
              color: #FFFFFF; }
            header .top_header .top_container .top_access ul li:hover {
              background: #f9cd4a; }
      header .top_header .top_container .publicar button {
        margin: auto 0;
        font-weight: 700;
        background: #2EAB59;
        width: 11em;
        color: #FFFFFF;
        -webkit-transition: all 0.3s ease;
        /* Safari and Chrome */
        -moz-transition: all 0.3s ease;
        /* Firefox */
        -ms-transition: all 0.3s ease;
        /* IE 9 */
        -o-transition: all 0.3s ease;
        /* Opera */
        transition: all 0.3s ease; }
        header .top_header .top_container .publicar button:hover {
          background: #40cc70; }
      header .top_header .top_container .top_social {
        padding-top: 2px; }
        header .top_header .top_container .top_social ul {
          font-size: 1.5em;
          padding-left: 0;
          margin: 0; }
          header .top_header .top_container .top_social ul li {
            width: 1.7em;
            display: inline-block;
            border-radius: 5px; }
          header .top_header .top_container .top_social ul .facebook {
            background: #3B579D;
            -webkit-transition: all 0.5s ease;
            /* Safari and Chrome */
            -moz-transition: all 0.5s ease;
            /* Firefox */
            -ms-transition: all 0.5s ease;
            /* IE 9 */
            -o-transition: all 0.5s ease;
            /* Opera */
            transition: all 0.5s ease; }
            header .top_header .top_container .top_social ul .facebook a {
              color: white; }
            header .top_header .top_container .top_social ul .facebook:hover {
              background: white; }
              header .top_header .top_container .top_social ul .facebook:hover a {
                color: #3B579D; }
          header .top_header .top_container .top_social ul .twitter {
            background: #00ACED;
            -webkit-transition: all 0.5s ease;
            /* Safari and Chrome */
            -moz-transition: all 0.5s ease;
            /* Firefox */
            -ms-transition: all 0.5s ease;
            /* IE 9 */
            -o-transition: all 0.5s ease;
            /* Opera */
            transition: all 0.5s ease; }
            header .top_header .top_container .top_social ul .twitter a {
              color: white; }
            header .top_header .top_container .top_social ul .twitter:hover {
              background: white; }
              header .top_header .top_container .top_social ul .twitter:hover a {
                color: #00ACED; }
          header .top_header .top_container .top_social ul .linkedin {
            background: #007BB6;
            -webkit-transition: all 0.5s ease;
            /* Safari and Chrome */
            -moz-transition: all 0.5s ease;
            /* Firefox */
            -ms-transition: all 0.5s ease;
            /* IE 9 */
            -o-transition: all 0.5s ease;
            /* Opera */
            transition: all 0.5s ease; }
            header .top_header .top_container .top_social ul .linkedin a {
              color: white; }
            header .top_header .top_container .top_social ul .linkedin:hover {
              background: white; }
              header .top_header .top_container .top_social ul .linkedin:hover a {
                color: #007BB6; }
  header .mid_header {
    background: #f9f9f9;
    border-bottom: 1px solid #dfdfdf; }
    header .mid_header .row {
      margin: 10px 0; }
      header .mid_header .row img {
        max-width: 300px; }
      header .mid_header .row .header_search_bar {
        padding: 25px 0; }
        header .mid_header .row .header_search_bar form {
          height: 40px; }
          header .mid_header .row .header_search_bar form input {
            font-weight: 700;
            width: 32vw;
            min-width: 250px;
            background: transparent;
            padding-left: 15px;
            height: inherit;
            border-radius: 3px 0 0 3px;
            border: 1px solid #007EE5;
            -webkit-transition: all 0.3s ease;
            /* Safari and Chrome */
            -moz-transition: all 0.3s ease;
            /* Firefox */
            -ms-transition: all 0.3s ease;
            /* IE 9 */
            -o-transition: all 0.3s ease;
            /* Opera */
            transition: all 0.3s ease; }
            header .mid_header .row .header_search_bar form input:focus {
              background-color: #FFFFFF; }
          header .mid_header .row .header_search_bar form button {
            background-color: #007EE5;
            position: absolute;
            height: inherit;
            width: 46px;
            border-radius: 0 3px 3px 0;
            border: 1px solid #007EE5; }
            header .mid_header .row .header_search_bar form button:hover {
              background-color: #1998ff;
              border: 1px solid #1998ff; }
            header .mid_header .row .header_search_bar form button i {
              font-size: 18px;
              color: #FFFFFF; }
      header .mid_header .row .sesion_options {
        padding: 20px 0 0 20px; }
        header .mid_header .row .sesion_options ul {
          list-style: none; }
          header .mid_header .row .sesion_options ul a {
            color: #007EE5; }
          header .mid_header .row .sesion_options ul .login a {
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #007EE5;
            -webkit-transition: all 0.3s ease;
            /* Safari and Chrome */
            -moz-transition: all 0.3s ease;
            /* Firefox */
            -ms-transition: all 0.3s ease;
            /* IE 9 */
            -o-transition: all 0.3s ease;
            /* Opera */
            transition: all 0.3s ease; }
            header .mid_header .row .sesion_options ul .login a:hover {
              color: #FFFFFF;
              background: #007EE5; }
          header .mid_header .row .sesion_options ul .register {
            margin-top: 20px; }
            header .mid_header .row .sesion_options ul .register a {
              font-size: 13px; }
  header .navigation {
    margin: auto; }
    header .navigation nav {
      width: 60%;
      margin: auto; }

/*
==============CUERPO==============
*/
/*
  <----------BIENVENIDA---------->
  */
.welcome {
  border-bottom: 1px solid #dfdfdf;
  color: #FFFFFF; }
  .welcome .row {
    /*TITULO BIENVENIDA*/
    /*BARRA BUSQUEDA*/ }
    .welcome .row .welcome_title {
      font-size: 1.5em; }
      .welcome .row .welcome_title h1 {
        font-family: "Raleway", sans-serif;
        color: #FFFFFF; }
    .welcome .row figure {
      margin-bottom: 10px; }
      .welcome .row figure img {
        width: 30vw; }
    .welcome .row .welcome_search {
      height: 50px; }
      .welcome .row .welcome_search .form_search {
        margin: auto;
        width: 55%;
        background: #1F1F1F;
        border-radius: 4px;
        padding: 1px; }
        .welcome .row .welcome_search .form_search input {
          background: #dfdfdf;
          margin: 2px 0 2px 2px;
          padding-left: 15px;
          color: black;
          height: 43px;
          width: 79%;
          border: 0;
          border-radius: 4px; }
          .welcome .row .welcome_search .form_search input:focus {
            background: #FFFFFF; }
        .welcome .row .welcome_search .form_search button {
          background: #F7BF19;
          margin: 2px 2px 2px 0;
          float: right;
          width: 20%;
          height: 43px;
          font-size: 20px; }
    .welcome .row h3 {
      font-size: 18px; }

/*
  <----------SERVICIOS---------->
  */
.services {
  border-bottom: 1px solid #dfdfdf; }
  .services .row {
    margin: 25px 0; }
    .services .row .service_item {
      display: inline-block;
      text-align: center;
      font-family: "Raleway", sans-serif; }
      .services .row .service_item .icon_box {
        font-size: 70px; }

/*
  <----------CASOS DE EXITO---------->
  */
.case_success .row {
  margin: 25px 0; }
  .case_success .row .success_box .success_employee_box {
    padding: 0px 30px;
    margin: 20px 0; }
    .case_success .row .success_box .success_employee_box .success_employee {
      display: inline-block; }
      .case_success .row .success_box .success_employee_box .success_employee img {
        width: 200px;
        border: 1px solid gray;
        box-shadow: 2px 2px 4px black;
        -webkit-transition: all 1s ease;
        /* Safari and Chrome */
        -moz-transition: all 1s ease;
        /* Firefox */
        -ms-transition: all 1s ease;
        /* IE 9 */
        -o-transition: all 1s ease;
        /* Opera */
        transition: all 1s ease; }
        .case_success .row .success_box .success_employee_box .success_employee img:hover {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05); }
      .case_success .row .success_box .success_employee_box .success_employee .success_employee_name {
        margin-top: 10px; }
        .case_success .row .success_box .success_employee_box .success_employee .success_employee_name label {
          margin: auto; }
    .case_success .row .success_box .success_employee_box .success_employee_multimedia {
      display: inline-block; }

/*
==============FOOTER==============
*/
footer {
  box-shadow: 0px -2px 5px #1F1F1F;
  position: relative;
  height: 251px;
  background: black;
  /*
  <----------LOGOS PARTNERS---------->
  */ }
  footer .partners {
    border-bottom: 1px solid #434343; }
    footer .partners img {
      width: 100px;
      margin: 0 20px;
      -webkit-transition: all 1s ease;
      /* Safari and Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* IE 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease; }
      footer .partners img:hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25); }
  footer .contact {
    padding-top: 20px;
    /*
  <----------MENU NAVEGACION INFERIOR---------->
  */
    /*
  <----------REDES SOCIALES INFERIOR---------->
  */ }
    footer .contact .footer_menu {
      display: inline-block;
      text-align: center; }
      footer .contact .footer_menu li {
        list-style: none;
        margin: 10px 0; }
        footer .contact .footer_menu li a {
          color: #FFFFFF; }
    footer .contact .foot_social {
      display: inline-block;
      float: right;
      padding-top: 35px; }
      footer .contact .foot_social li {
        font-size: 30px;
        display: inline-block;
        margin: 0 5px; }
        footer .contact .foot_social li a {
          color: #FFFFFF !important; }
          footer .contact .foot_social li a:hover {
            color: #F7BF19 !important; }
