/*
==============IMPORTS==============
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
/*
==============VARIABLES==============
*/
/*COLORS*/
/*BLANCO*/
/*AMARILLO*/
/*VERDE*/
/*AZUL*/
/*NEGRO*/
/*FONTS*/
/*
==============MIXINS==============
*/
/*
  <----------TRANSICIONES---------->
  */
/*
  <----------ESCALA CRECIMIENTO ITEMS---------->
  */
/*
==============GENERAL CLASS==============
*/
.welcome_background {
  background-image: url("../img/Silla1.jpg");
  background-size: cover; }

/*
==============HEADER==============
*/
header {
  border-bottom: 1px solid #CBD436;
  box-shadow: 0px 1px 2px #CBD436;
  /*
  <----------ACCESIBILIDAD-REDES SOCIALES-PUBLICAR---------->
  */
  /*
  <----------LOGO-SEARCH BAR-LOGIN---------->
  */
  /*
  <----------BARRA DE NAVEGACION---------->
  */ }
  header .top_header {
    background: #000000;
    height: 45px;
    box-shadow: 0px 0px 1px #000000; }
    header .top_header .top_margin {
      margin: 0 20px; }
      header .top_header .top_margin .top_buttons {
        display: inline-block; }
        header .top_header .top_margin .top_buttons .top_access {
          display: inline-block; }
          header .top_header .top_margin .top_buttons .top_access button {
            border-radius: 20px;
            width: 33px;
            height: 33px;
            background: white; }
            header .top_header .top_margin .top_buttons .top_access button i {
              font-size: 20px; }
        header .top_header .top_margin .top_buttons .top_social {
          padding-top: 5px;
          display: inline-block;
          line-height: 0; }
          header .top_header .top_margin .top_buttons .top_social ul li {
            font-size: 28px;
            display: inline-block; }
            header .top_header .top_margin .top_buttons .top_social ul li a {
              color: #FFFFFF !important; }
              header .top_header .top_margin .top_buttons .top_social ul li a:hover {
                color: #2EAB59 !important; }
      header .top_header .top_margin .publicar {
        display: inline-block;
        float: right;
        text-align: right; }
        header .top_header .top_margin .publicar button {
          margin-top: 5px;
          background: #2EAB59;
          width: 140px;
          color: #FFFFFF; }
  header .mid_header .mid_margin {
    margin: 20px 20px 0 20px; }
    header .mid_header .mid_margin .logo {
      display: inline-block; }
      header .mid_header .mid_margin .logo img {
        max-width: 300px; }
    header .mid_header .mid_margin .search_bar {
      margin-left: 20px;
      display: inline-block;
      position: absolute; }
      header .mid_header .mid_margin .search_bar form input {
        width: 450px;
        padding-left: 15px;
        height: 35px;
        border-radius: 4px;
        border: 1px solid gray; }
      header .mid_header .mid_margin .search_bar form button {
        height: 35px; }
    header .mid_header .mid_margin .sesion_options {
      float: right; }
      header .mid_header .mid_margin .sesion_options ul {
        display: inline-block;
        list-style: none; }
        header .mid_header .mid_margin .sesion_options ul li {
          text-align: center; }
          header .mid_header .mid_margin .sesion_options ul li a {
            color: #007EE5; }
        header .mid_header .mid_margin .sesion_options ul .login a {
          text-decoration: none;
          font-size: 15px;
          padding: 10px;
          border-radius: 5px; }
          header .mid_header .mid_margin .sesion_options ul .login a:hover {
            border: 1px solid #007EE5;
            color: #1998ff; }
        header .mid_header .mid_margin .sesion_options ul .register {
          margin-top: 20px; }
          header .mid_header .mid_margin .sesion_options ul .register a {
            font-size: 13px; }
  header .navigation {
    margin: auto; }
    header .navigation nav {
      width: 60%;
      margin: auto; }

/*
==============CUERPO==============
*/
/*
  <----------BIENVENIDA---------->
  */
.welcome {
  border-bottom: 1px solid black;
  color: #FFFFFF;
  height: 400px;
  /*TITULO BIENVENIDA*/
  /*BARRA BUSQUEDA*/ }
  .welcome .welcome_title {
    text-align: center;
    font-size: 30px; }
    .welcome .welcome_title h1 {
      padding-top: 20px;
      font-family: "Raleway", sans-serif;
      color: white; }
  .welcome figure {
    text-align: center;
    margin-bottom: 15px; }
    .welcome figure img {
      width: 300px; }
  .welcome .welcome_search {
    height: 50px; }
    .welcome .welcome_search .form_search {
      margin: auto;
      width: 55%;
      height: inherit;
      background: #000000;
      opacity: 0.9;
      border-radius: 4px;
      padding: 1px; }
      .welcome .welcome_search .form_search input {
        margin: 2px 0 2px 2px;
        padding-left: 15px;
        color: black;
        height: 43px;
        width: 79%;
        border: 0;
        border-radius: 4px; }
      .welcome .welcome_search .form_search button {
        background: #CBD436;
        margin: 2px 2px 2px 0;
        float: right;
        width: 20%;
        height: 43px;
        font-size: 20px; }
  .welcome h3 {
    text-align: center;
    font-size: 18px; }

/*
  <----------SERVICIOS---------->
  */
.services {
  border-bottom: 1px solid gray; }
  .services .row {
    margin: 20px 0; }
    .services .row .service_item {
      display: inline-block;
      text-align: center;
      font-family: "Raleway", sans-serif; }
      .services .row .service_item .icon_box {
        font-size: 70px; }

/*
  <----------CASOS DE EXITO---------->
  */
.case_success .row {
  margin: 25px 0; }
  .case_success .row .success_box .success_employee_box {
    padding: 0px 30px;
    margin: 20px 0; }
    .case_success .row .success_box .success_employee_box .success_employee {
      text-align: center;
      display: inline-block; }
      .case_success .row .success_box .success_employee_box .success_employee img {
        width: 200px;
        border: 1px solid gray;
        box-shadow: 2px 2px 4px black;
        -webkit-transition: all 1s ease;
        /* Safari and Chrome */
        -moz-transition: all 1s ease;
        /* Firefox */
        -ms-transition: all 1s ease;
        /* IE 9 */
        -o-transition: all 1s ease;
        /* Opera */
        transition: all 1s ease; }
        .case_success .row .success_box .success_employee_box .success_employee img:hover {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05); }
      .case_success .row .success_box .success_employee_box .success_employee .success_employee_name {
        margin-top: 10px; }
        .case_success .row .success_box .success_employee_box .success_employee .success_employee_name label {
          margin: auto; }
    .case_success .row .success_box .success_employee_box .success_employee_multimedia {
      display: inline-block; }

/*
==============FOOTER==============
*/
footer {
  box-shadow: 0px -2px 5px #000000;
  position: relative;
  height: 251px;
  background: #000000;
  /*
  <----------LOGOS PARTNERS---------->
  */ }
  footer .partners {
    text-align: center;
    border-bottom: 1px solid #434343; }
    footer .partners img {
      width: 100px;
      margin: 0 20px;
      -webkit-transition: all 1s ease;
      /* Safari and Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* IE 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease; }
      footer .partners img:hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25); }
  footer .contact {
    padding-top: 20px;
    /*
  <----------MENU NAVEGACION INFERIOR---------->
  */
    /*
  <----------REDES SOCIALES INFERIOR---------->
  */ }
    footer .contact .footer_menu {
      display: inline-block;
      text-align: center; }
      footer .contact .footer_menu li {
        list-style: none;
        margin: 10px 0; }
        footer .contact .footer_menu li a {
          color: #FFFFFF; }
    footer .contact .foot_social {
      display: inline-block;
      float: right;
      padding-top: 35px; }
      footer .contact .foot_social li {
        font-size: 30px;
        display: inline-block;
        margin: 0 5px; }
        footer .contact .foot_social li a {
          color: #FFFFFF !important; }
          footer .contact .foot_social li a:hover {
            color: #CBD436 !important; }
