/*
==============IMPORTS==============
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Allerta);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
/*
==============VARIABLES==============
*/
/*COLORS*/
/*BLANCO*/
/*AMARILLO*/
/*VERDE*/
/*AZUL*/
/*NEGRO*/
/*FONTS*/
/*
==============MIXINS==============
*/
/*
==============GENERAL CLASS==============
*/
.body_height {
  height: 1000px;
  font-family: "Montserrat", sans-serif; }

.layout {
  min-height: 100%;
  margin-bottom: -72px; }

.welcome_background {
  background-image: url("../img/welcome_background.png");
  background-size: cover; }

/*
==============HEADER==============
*/
.headers {
  border-bottom: 1px solid #CBD436;
  box-shadow: 0px 1px 2px #CBD436; }
  .headers header {
    width: 90%;
    margin: auto; }
    .headers header .logo {
      display: inline-block;
      margin: 20px 20px; }
      .headers header .logo img {
        max-width: 350px; }
    .headers header .search_bar {
      max-width: 550px;
      display: inline-block;
      margin: 0 0 50px 20px; }
      .headers header .search_bar input[type=text]:focus {
        border: 1px solid #CBD436; }
      .headers header .search_bar a {
        background: #CBD436; }
        .headers header .search_bar a i {
          color: white; }
        .headers header .search_bar a:hover {
          background: #d3da53; }
    .headers header ul {
      padding-left: 0;
      display: inline-block;
      list-style: none;
      float: right;
      margin: 20px 20px; }
      .headers header ul li {
        text-align: center;
        margin: 20px 20px; }
        .headers header ul li a {
          color: #007EE5; }
      .headers header ul .login a {
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 5px; }
        .headers header ul .login a:hover {
          border: 1px solid #007EE5;
          color: #1998ff; }
      .headers header ul .register a {
        font-size: 13px; }
  .headers .navigation {
    width: 80%;
    margin: auto; }
    .headers .navigation nav ul {
      width: 65%;
      margin: auto; }

/*
==============CUERPO==============
*/
.welcome {
  border-bottom: 1px solid black;
  color: #FFFFFF;
  height: 400px; }

/*
==============FOOTER==============
*/
.footer {
  box-shadow: 0px -2px 5px #000000;
  position: relative;
  height: 251px;
  background: #000000; }
  .footer .partners {
    text-align: center;
    border-bottom: 1px solid #434343; }
    .footer .partners img {
      width: 100px;
      margin: 0 20px;
      -webkit-transition: all 1s ease;
      /* Safari and Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* IE 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease; }
      .footer .partners img:hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25); }
  .footer .contact {
    padding-top: 20px; }
    .footer .contact .footer_menu {
      display: inline-block;
      text-align: center; }
      .footer .contact .footer_menu li {
        list-style: none;
        margin: 10px 0; }
        .footer .contact .footer_menu li a {
          color: #FFFFFF; }
    .footer .contact .social {
      display: inline-block;
      float: right;
      padding-top: 35px; }
      .footer .contact .social li {
        font-size: 30px;
        display: inline-block;
        margin: 0 5px; }
        .footer .contact .social li a {
          color: #FFFFFF !important; }
          .footer .contact .social li a:hover {
            color: #CBD436 !important; }
