/*
==============IMPORTS==============
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Allerta);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

/*
==============VARIABLES==============
*/

/*COLORS*/
$primary_color: #FFFFFF; /*BLANCO*/
$secondary_color: #CBD436; /*AMARILLO*/
$tertiary_color: #2EAB59; /*VERDE*/
$quaternary_color: #007EE5; /*AZUL*/
$quinary_color: #000000; /*NEGRO*/

/*FONTS*/
$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Allerta', sans-serif;

/*
==============MIXINS==============
*/
@mixin all-transition($time) {
  -webkit-transition: all $time ease; /* Safari and Chrome */
  -moz-transition: all $time ease; /* Firefox */
  -ms-transition: all $time ease; /* IE 9 */
  -o-transition: all $time ease; /* Opera */
  transition: all $time ease;  
}

@mixin scale-transform($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

/*
==============GENERAL CLASS==============
*/

.body_height {
  height: 1000px;
  font-family: $primary_font;
}

.layout {
  min-height: 100%;
  margin-bottom: -72px;
}

.welcome_background {
  background-image: url('../img/welcome_background.png');
  background-size: cover;
}

/*
==============HEADER==============
*/
.headers {
  border-bottom: 1px solid $secondary_color;
  box-shadow: 0px 1px 2px $secondary_color;
  
  header {
    width: 90%;
    margin: auto;

    .logo {
      display: inline-block;
      margin: 20px 20px;

      img {
        max-width: 350px;
      }
    }

    .search_bar {
      max-width: 550px;
      display: inline-block;
      margin: 0 0 50px 20px;

      input[type=text] {
        &:focus {
          border: 1px solid $secondary_color;
        }
      }

      a {
        background: $secondary_color;
        i {
          color: white;
        }
        &:hover {
          background: lighten($secondary_color, 7%);
        }
      }
    }

    ul {
      padding-left: 0;
      display: inline-block;
      list-style: none;
      float: right;
      margin: 20px 20px;
      
      li {
        text-align: center;
        margin: 20px 20px;

        a {
          color: $quaternary_color;
        }
      }

      .login a {
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;

        &:hover{
          border: 1px solid $quaternary_color;
          color: lighten($quaternary_color, 10%);
        }
      }

      .register a {
        font-size: 13px;
      }
    }
  }

  .navigation {
    width: 80%;
    margin: auto;

    nav {

      ul {
        width: 65%;
        margin: auto;

        li {
        }
      }
    }
  }
}

/*
==============CUERPO==============
*/
.welcome {
  border-bottom: 1px solid black;
  color: $primary_color;
  height: 400px;
}
/*
==============FOOTER==============
*/
.footer {
  box-shadow: 0px -2px 5px $quinary_color;
  position: relative;
  height: 251px;
  background: $quinary_color;

  .partners {
    text-align: center;
    border-bottom: 1px solid #434343;

    img {
      width: 100px;
      margin: 0 20px;
      @include all-transition(1s);

      &:hover {
        @include scale-transform(1.25);
      }
    }
  }

  .contact {
    padding-top: 20px;

    .footer_menu {
      display: inline-block;
      text-align: center;

      li {
        list-style: none;
        margin: 10px 0; 

        a {
          color: $primary_color;
        }
      }
    }

    .social {
      display: inline-block;
      float: right;
      padding-top: 35px;

      li {
        font-size: 30px;
        display: inline-block;
        margin: 0 5px;
        a {
          color: $primary_color !important;

          &:hover {
            color: $secondary_color !important;
          }
        }
      }
    }
  }
}



