/*
==============IMPORTS==============
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Allerta);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

/*
==============VARIABLES==============
*/

/*COLORS*/
$primary_color: #FFFFFF; /*BLANCO*/
$secondary_color: #CBD436; /*AMARILLO*/
$tertiary_color: #2EAB59; /*VERDE*/
$quaternary_color: #007EE5; /*AZUL*/
$quinary_color: #000000; /*NEGRO*/

/*FONTS*/
$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Allerta', sans-serif;

/*
==============MIXINS==============
*/
@mixin all-transition($time) {
  -webkit-transition: all $time ease; /* Safari and Chrome */
  -moz-transition: all $time ease; /* Firefox */
  -ms-transition: all $time ease; /* IE 9 */
  -o-transition: all $time ease; /* Opera */
  transition: all $time ease;  
}

@mixin scale-transform($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

/*
==============GENERAL CLASS==============
*/

.body_height {
  height: 1000px;
}

.layout {
  min-height: 100%;
  margin-bottom: -72px;
}

.welcome_background {
  background-image: url('../img/welcome_background.png');
  background-size: cover;
}

/*
==============HEADER==============
*/
header {
  border-bottom: 1px solid $secondary_color;
  box-shadow: 0px 1px 2px $secondary_color;

  .top_header {
    background: $quinary_color;
    height: 45px;

    .top_margin {
      margin: 0 20px;

      .top_buttons {
        display: inline-block;

        .top_access {
          display: inline-block;

          button {
            border-radius: 20px;
            width: 33px;
            height: 33px;
            background: white;

            i {
              font-size: 20px;
            }
          }
        }

        .top_social {
          padding-top: 5px; 
          display: inline-block;
          line-height: 0;

          ul {
            li {
              font-size: 28px;
              display: inline-block;

              a {
                color: $primary_color !important;

                &:hover {
                  color: $tertiary_color !important;
                }
              }
            }
          }
        }
      }

      .publicar{
        display: inline-block;
        float: right;
        text-align: right;

        button {
          margin-top: 5px;
          background: $tertiary_color;
          width: 140px;
          color: $primary_color;
        }
      }
    }
  }

  .mid_header {

    .mid_margin {
      margin: 20px;

      .logo {
        display: inline-block;

        img {
          max-width: 300px;
        }
      } 

      .search_bar {
        margin-left: 20px; 
        display: inline-block;
        position: absolute;

        form {

          input {
            width: 450px;
            padding-left: 15px;
            height: 35px;
            border-radius: 4px;
            border: 1px solid gray;
          }

          button {
            height: 35px;
          }
        }
      }

      .sesion_options{
        float: right;

        ul {
          display: inline-block;
          list-style: none;

          li {
            text-align: center;

            a {
              color: $quaternary_color;
            }
          }

          .login a {
            text-decoration: none;
            font-size: 15px;
            padding: 10px;
            border-radius: 5px;

            &:hover{
              border: 1px solid $quaternary_color;
              color: lighten($quaternary_color, 10%);
            }
          }

          .register a {
            font-size: 13px;
          }
        }
      }
    }
  }

  .navigation {
    margin: auto;

    nav {

      ul {
        width: 75%;
        margin: auto;

        li {
        }
      }
    }
  }
}

/*
==============CUERPO==============
*/
.welcome {
  border-bottom: 1px solid black;
  color: $primary_color;
  height: 400px;


  /*BARRA BUSQUEDA*/
  .welcome_search {
    height: 50px;

    .form_search {
      margin: auto;
      width: 55%;
      height: inherit;
      background: $quinary_color;
      opacity: 0.9;
      border-radius: 4px;
      padding: 1px;

      input {
        margin: 2px 0 2px 2px;
        height: 43px;
        width: 79%;
        border: 0; 
        border-radius: 4px;
      }

      button {
        background: $secondary_color;
        margin: 2px 2px 2px 0;
        float: right;
        width: 20%;
        height: 43px;
        font-size: 20px;
      }
    }
  }
}
/*
==============FOOTER==============
*/
footer {
  box-shadow: 0px -2px 5px $quinary_color;
  position: relative;
  height: 251px;
  background: $quinary_color;

  .partners {
    text-align: center;
    border-bottom: 1px solid #434343;

    img {
      width: 100px;
      margin: 0 20px;
      @include all-transition(1s);

      &:hover {
        @include scale-transform(1.25);
      }
    }
  }

  .contact {
    padding-top: 20px;

    .footer_menu {
      display: inline-block;
      text-align: center;

      li {
        list-style: none;
        margin: 10px 0; 

        a {
          color: $primary_color;
        }
      }
    }

    .foot_social {
      display: inline-block;
      float: right;
      padding-top: 35px;

      li {
        font-size: 30px;
        display: inline-block;
        margin: 0 5px;
        a {
          color: $primary_color !important;

          &:hover {
            color: $secondary_color !important;
          }
        }
      }
    }
  }
}



